@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --white: white;
    --background: #212121;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

div#hamburger-menu {
    display: none;
}

body {
    background-color: var(--background);
    overflow-x: hidden;
}


main {
    /* border: 1px solid red; */
}

header {
    padding: 52.5px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    cursor: pointer;
}

header nav a {
    margin: 0 20px;
    padding: 11px 25px;
    box-sizing: border-box;
    color: var(--white);
    text-decoration: none;
}

header nav a:hover {
    color: black;
    background-color: var(--white);
    border-radius: 50px;
}

section#form {
    width: fit-content;
    margin: auto;
    position: relative;
}

section#form .title {
    text-align: center;
    color: white;
}

section#form .title h1 {
    font-weight: 600;
    font-size: 35px;
}

section#form .title p {
    font-size: 18px;
    color: rgba(255, 255, 255, .45);
}

section#form .result {
    text-align: center;
    margin-top: 181px;
    margin-bottom: 246px;
}

section#form .result p.empty {
    color: #3B3B3B;
}

section#form .result .crypto {
    color: var(--white);
    font-weight: 600;
    font-size: 30px;
}

section#form .result .price {
    color: var(--white);
    font-weight: 200;
    font-size: 25px;
}

section#form .users-input .fields input {
    margin-right: 16px;
    padding: 10px 166px 10px 25px;
    border-radius: 10px;
    font-size: 16px;
    border: 2px solid #454545;
    color: white;
    background-color: transparent;
}

section#form .users-input .fields input:last-child {
    margin-right: 0px;
}

section#form .users-input .fields input:focus {
    outline: none;
    background-color: #454545;
}

section#form .users-input button {
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    color: #454545;
    padding: 10px 0;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid #454545;
    background-color: transparent;
    transition: .2s ease-in-out;
}

section#form .users-input button:hover {
    background-color: white;
    color: black;
    border: 2px solid white;
}

section#form .users-input button:focus {
    background-color: white;
    color: black;
    border: 2px solid white;
}

.ornament-left {
    position: absolute;
    top: 50px;
    left: -1100px;
    width: 1075.44px;
    height: 880px;
    background-image: url('../dist/assets/ornament-left-side.svg');
}

.ornament-right {
    position: absolute;
    top: 300px;
    right: -1200px;
    width: 1075.44px;
    height: 880px;
    transform: scaleX(-1);
    background-image: url('../dist/assets/ornament-left-side.svg');
}